
.My
{
    font: 100;
    font-weight: 200;
    font-style: italic;
}

#My
{
    font: 100;
    font-weight: 200;
    font-style: italic;
}

.My
{
    font: 100;
    font-weight: 200;
    font-style: italic;
}